body {
    background: #2C2141;
    min-height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 16px;
    font-family: Arial;
}

.card {
    border-radius: 16px;
    background: #F8F8F8;
    padding: 32px;
}

.card_description {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375;
    margin: 0;
}

.card_description--link {
    color: #E20613;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375;
    text-decoration: none;
}

.card_description--special {
    color: #ED6D05;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375;
}

.card_name {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.card_occupation {
    color: #545454;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}